body {
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

.main-heading {
    color: white;
    font-size: 50px;
    font-weight: normal;
}

.links {
    color: aquamarine;
    font-size: 16px;
}